@page
@model Razor2Test.Pages.Products.AddNewProductModel
@{
    ViewData["Title"] = "AddNewProduct";
}

<h3>@ViewData["Title"]</h3>

<form method="post" enctype="multipart/form-data">


    <div>
        <label asp-for="ProductViewModel.Title">Product Name</label>
        <input asp-for="ProductViewModel.Title" class="form-control" />
        <span class="text-danger" asp-validation-for="ProductViewModel.Title"></span>

    </div>
    <br />
    <div>
        <label asp-for="ProductViewModel.ShortDescription">Short Description</label>
        <input asp-for="ProductViewModel.ShortDescription" class="form-control" />
        <span class="text-danger" asp-validation-for="ProductViewModel.ShortDescription"></span>

    </div>
    <br />
    <div>
        <label asp-for="ProductViewModel.LongDescription">Long Description</label>
        <textarea asp-for="ProductViewModel.LongDescription" class="form-control"></textarea>
        <span class="text-danger" asp-validation-for="ProductViewModel.LongDescription"></span>
        <br />
    </div>

    <div>
        <img src="@Model.ProductViewModel.PhotoPath" id="photoPreview" />
        <input type="hidden" asp-for="ProductViewModel.PhotoPath" id="photoPreview2" />
        <input type="file" id="FileInput" />

    </div>
    <br />


    <select asp-for="CategoryId" asp-items="Model.Categories"></select>
    <br />

    <br />

    <button class="btn btn-success" type="submit">Submit</button>
</form>
@section Scripts
{
    <script>
        const fileInput = document.querySelector('#FileInput');

        fileInput.addEventListener('change', (e) => {
            const file = e.target.files[0];

            const reader = new FileReader();
            reader.onloadend = () => {
                $('#photoPreview')[0].src = reader.result
                $('#photoPreview2').val(reader.result)
            };
            reader.readAsDataURL(file);
        });
    </script>
}





